<template>
  <a :href="href" target="_blank" rel="noopener"><slot/></a>
</template>

<script lang="ts">
import Vue from 'vue'

export default Vue.extend({
  name: "new-tab-a",
  props: {
    href: String
  }
})
</script>
